<div id="{$_name}" class="{$class} room" style="{$style}">
	<h4 class="atk-align-center room-heading">{$room_name}</h4>
	<div class="room-container">
		<div class="atk-swatch-yellow room-info-section">{$room_info}</div>
		<div class="atk-row" style="margin: 0px;">
		{rows}
		{row}
		<div class="atk-col-3 table-container" data-tableid={$id}>
			<a href="{$order_detail_url}" class="{$table_class}" data-tableid={$id}>
			<div class="room-table shape-{$shape}" data-tableid={$id}>
				<p>{$name}
					<br/>{running_order}<span>Order: {$running_order_id}</span>{/}
				</p>
			</div>
			</a>
		</div>
		{/}
		{/}
		</div>
	</div>
</div>