<div id="{$_name}" class="{$class} takeorder" style="{$style}" {$attributes}>
	<div class="running-table atk-align-center">
		{$running_table}
	</div>

	<div class="atk-row">
		<div class="atk-col-2 menucategory">
			{$menu_category}
		</div>
		<div class="atk-col-4 menuitem" style="border-left: 0px;">
			{$menu_item}
		</div>
		<div class="atk-col-6 ordersummary">
			<!-- <div class="atk-cells atk-cells-gutter-large">
				<div class="atk-cell">
					<div class="atk-swatch-gray atk-box-small">DIN IN</div>
				</div>
				<div class="atk-cell">
					<div class="atk-swatch-gray atk-box-small">TAKE AWAY</div>
				</div>
				<div class="atk-cell">
					<div class="atk-swatch-gray atk-box-small">OTHER</div>
				</div>
			</div> -->
			{$pos}
		</div>
	</div>

	{$Content}	

	<script type="text/javascript">
		$(document).ready(function(){
			$(".menucategory-single").click(function(e){
				$('.menucategory-single').removeClass('active');
				if($(this).attr('data-id') > 0){
					$(".menuitem-wrapper").find('.menuitem-single').hide();
					$(".menuitem-single[data-catid='"+$(this).attr('data-id')+"']").show();
				}else{
					$(".menuitem-single").show();
				}
				$(this).addClass('active');
			});
		});

	</script>
</div>