/*blue color: #1e8bc9*/
/*yellow color: #ffcc00*/

body{
	background:#f9f9f9;
}

.menubar{
	background:linear-gradient(to bottom, #03a9f4 0%, #2980b9 100%);
	background:-ms-linear-gradient(top, #03a9f4 0%, #2980b9 100%);
	background:-webkit-linear-gradient(top, #03a9f4 0%, #2980b9 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #03a9f4), color-stop(100%, #2980b9));
	background:-moz-linear-gradient(top, #03a9f4 0%, #2980b9 100%);	
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
	padding: 0px;
}

.menubar .logo-image img{
	width:40px !important;
}

.menubar .atk-menu-horizontal li > a{
	background: transparent;
}

.menubar li > a.active{
	background-color: #2c3e50;
}

/*tabs css*/
.flattabs .atk-tabs > ul.ui-tabs-nav{
	background:white; 
}
	
.flattabs .atk-tabs ul,
.flattabs .atk-tabs li, 
.flattabs .atk-tabs li.ui-state-active{
	border:0px;
	border-radius: 0px !important;
}
.flattabs .ui-tabs .ui-tabs-nav.ui-widget-header{
	border-bottom: 0px;
}

.flattabs .atk-tabs li:not(:last-child){
	border-right:2px solid #f3f3f3 !important;
}

.flattabs .atk-tabs .ui-tabs-active.ui-state-active{
	background-color: #1e8bc9 !important;
}
.flattabs .atk-tabs .ui-tabs-active.ui-state-active a{
	border-bottom: 2px solid #1e8bc9;
	color: white;
}

.flattabs .ui-tabs-panel{
	padding-left:10px !important;
	padding-right:10px !important;
}
/*end of tab css*/


.room-container{
	margin: 0 auto 0 auto ;
	width:70%;
	min-height: 500px;
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
	padding: 10px;
	background-image: url("../images/room-background-2.jpg");
	background-size: 100%;
	background-width: 100%;
}

.room-container .table-container{
	height:120px;
	background: rgba(256,256,256,0.3);
	text-align: center;
}

.room-table{
	margin:5px;
	border: 2px solid gray;
	background: white;
	width:80%;
}

.room-table.shape-Circle{
	width:90px;
	height: 90px;
	border-radius: 50%;
}

.room-table.shape-Square{
	height: 90px;
}

.room-table.shape-Rectangle{
	height: 50px;
}

.room-table.shape-Oval{
	width: 75px;
	height: 90px;
	border-radius: 50%;	
}

h4.room-heading {
	font-weight: bold;
}
.room-info-section{
	margin-bottom: 5px;
	padding: 3px;
}

.has-running-order{
  /*background-color: #ffcc00;*/
  color: white;
}
.has-running-order .room-table{
  background-color: #e9f9e9;
	color: #167616;
}

.has-no-running-order{

}

.homeorder{
	margin-top: 10px;
}
.homeorder .atk-row{
	margin-left: 0px !important;
}

.homeorder .atk-col-2{
	border-left-width:1px !important;
	/*padding: 2px;*/
	/*margin-left: 2px;*/
}

.listorder .order-detail{
	padding: 5px;
	background: white;
	border: 1px solid #f3f3f3;
}

tr.delivered{
	color: #8c9399;
}


/*menu category sliders*/
  /*  bhoechie tab */
  div.bhoechie-tab-container{
    z-index: 10;
    padding: 0 !important;
    -moz-border-radius: 4px;
    /*border:1px solid #ddd;*/
    /*margin-top: 20px;*/
    /*margin-left: 50px;*/
    background-color: #ffffff;
    /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    /*-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    /*border-radius: 4px;*/
    background-clip: padding-box;
    /*opacity: 0.97;*/
    /*filter: alpha(opacity=97);*/
  }
  div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
  }
  div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
  }
  div.bhoechie-tab-menu div.list-group>a .glyphicon,
  div.bhoechie-tab-menu div.list-group>a .fa {
    color: #5A55A3;
  }
  div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
  }
  div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
  }
  div.bhoechie-tab-menu div.list-group>a.active,
  div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
  div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #5A55A3;
    background-image: #5A55A3;
    color: #ffffff;
  }
  div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #5A55A3;
  }

  div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
  }

  div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
  }
/*end of menu slider category*/

/*tabs vertical css*/
.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    /*background: #CCC;*/
    /*border-radius: 4px 0 0 4px;*/
    /*border-right: 1px solid gray;*/
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-bottom: 1px solid gray !important;
    border-right: 1px solid white !important;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    /*left: -1px;*/
}

.ui-tabs-panel.ui-widget-content{
	padding: 5px !important;
}

.running-table{
	height: 40px;
	border-bottom: 3px solid gray;
	overflow-x: auto;
}

/*take order */

.takeorder .menucategory,
.takeorder .menuitem{
	border-right: 2px solid #f3f3f3;
	max-height: 500px;
	min-height: 500px;
	overflow-y: auto;
}

.menucategory-wrapper li{
	border-bottom: 1px solid white !important;
}

.menuitem-single{

}

.takeorder .running-table .atk-menu-horizontal > li{
	border-right:1px solid #f0f0f0;
	padding:0px 5px 5px 0px; 
}

.overlay{
	-moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #474747;
  position: absolute;
  width: 90%;
  /*display: none;*/
}
.overlay .inner{
	display: table;
  	height: 100%;
}

.overlay .content{
	color: #fff;
	padding-top: 10px;
	display: table-cell;
	vertical-align: middle;
}
.menuitem-single:hover .overlay{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
	opacity: 1;
	background-color:  rgba(0, 0, 0, 0.8);
}

.overlay input{
	width:100%;
}
/*end take order*/

.menucategory-single.active{
  background: gray;
  color:white;
  font-weight: bold;
}

.table-has-order, .table-has-order a{
  background-color: #1e8bc9;
  color: white !important;
  margin-left: 5px;
}